{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% endblock title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Palatino", sans-serif}
    </style>
</head>
<body>
    <header>
        {% block pagination %}
        {% endblock pagination %}
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <footer>
    </footer>
</body>
</html>
